.ProductStock{
    width: 100%;
    height: 89vh;
    /* background-color: rgb(51, 112, 112); */
    background-color: #F5F6FA;
    z-index: 0;
    padding: 12px;
    position: relative;
}
.ProductStock>.admin-productstock-content{
    width: 100%;
    /* height: 100%; */
    height: 89vh;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: aqua; */
    background-color: #F5F6FA;
    flex-direction: column;
    gap: 20px;
    z-index: 0;
}
.admin-productstock-content>.titlstock{
    width: 100%;
    display: flex;
    justify-content: start;
}
.admin-productstock-content>.titlstock>h2{
    font-family: 'Nunito Sans';
    font-size: 32px;
    line-height: 43.65px;
    letter-spacing: -0.11428570002317429px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #202224;
}
 .admin-productstock-content>.table-div{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.product-stock-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-stock-table thead {
    background-color: #FFFFFF;
    border-bottom: 0.6px solid #d5d5d5;
  }
  .product-stock-table thead tr{
    /* display: inline-table;  */
  }
  
  .product-stock-table th,
  .product-stock-table td {
    text-align: center;
    /* padding: 10px 20px; */
    padding: 12px 16px;
    vertical-align: middle; 
    white-space: nowrap;
    width: 170px
  }

  /* .product-stock-table .datatable {
    text-align: left;
    padding: 0px;
    margin: 0;
  }
  .product-stock-table .headtable {
    text-align: left;
    margin-left: 30px;
  } */
  
  .product-stock-table th {
    font-weight: bold;
  }
  
  .product-stock-table tbody tr {
    padding: 10;
    margin: 0;
    display: inline-table;
    background-color: white;
    cursor: pointer;
  }
  
  .product-stock-table tbody tr:hover {
    background-color: #faf8f8;
  }
  
  .product-stock-table tbody tr {
    width: 100%;
    height: 100px;
    border-bottom: 0.4px solid #979797;
  }
  .product-stock-table .product-image {
    height: 60px;
    width: 60px;
    /* background-color: rgb(156, 223, 223); */
  }
  
  .product-stock-table .product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .product-stock-table .color-container {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    gap: 10px;
  }
  
  .product-stock-table .colorsList {
    width: 20px;
    height: 20px;
    /* background-color: aqua; */
    border-radius: 100%;
  }
  .productStock-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  .productStock-footer .footerButtons {
    display: flex;
    width: 86px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  .productStock-footer .footerButtons .pagemove-left,
  .productStock-footer .footerButtons .pagemove-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: white;
    border: 0.6px solid #d5d5d5;
  }
  .productStock-footer .footerButtons .pagemove-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .productStock-footer .footerButtons .pagemove-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .stock-action-button .footerButtons {
    display: flex;
    width: 86px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  .stock-action-button .footerButtons .pagemove-left,
  .stock-action-button .footerButtons .pagemove-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: white;
    border: 0.6px solid #d5d5d5;
  }
  .stock-action-button .footerButtons .pagemove-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .stock-action-button .footerButtons .pagemove-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px;
  }
